@import URL("//example.com/x.css");

.selector-1 {
	& .selector-2 {
		height: 10dvh;
		& .selector-3 {
			& .selector-4 {
				color: rgba(0, 0, 0, 0.08215);
			}
		}
	}
}
.selector-2 {
	color: LIGHT-DARK(red, white);
	margin-top: 0px;
	--custom-property: 0;
	outline: NONE;
}

MADEUP {
	margin: #fff;
}
