@import url("x.css");

.selector-1,
.selector-2,
.selector-3[type="text"] {
	box-sizing: border-box;
	display: block;
	color: #333;
	outline: oklch(78.2% 0.177 219.6deg) solid 2px;
	background: linear-gradient(#fff, rgb(0 0 0 / 80%));
}
